* {
  margin: 2rem auto;
  padding: 0;
}

#payment_calculator {
  width: 500px;
  display: flex;
  padding: 0.8rem;
  flex-direction: column;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
}

#payment_calculator > * {
  margin: 0.3rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
}

#payment_calculator label {
  color: #fff;
}

#payment_calculator select {
  width: 25%;
}

#payment_calculator button {
  margin: 1.5rem auto;
  width: 25%;
  border-radius: 5px;
  border: none;
  background-color: navy;
  color: #fff;
  cursor: pointer;
}

#payment_calculator h2 {
  margin: 0 auto 0.8rem;
  color: #fff;
}
#payment_calculator .payment_quote {
  width: 100px;
  height: 50px;
  margin: auto;
  border: #fff 2px solid;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
}

.no_entry-message {
  display: none;
}
.error-message {
  display: none;
  color: red;
}
